// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define fonts for body and headers
$body-font: "Poppins", "sans-serif";
$headers-font: "Vanrott", "serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Vanrott";
  src: font-url('vanrott-webfont.woff') format('woff'),
       font-url('vanrott-webfont.woff2') format('woff2');
}
// $my-font: "Font Name";
