.form-container {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group-text {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}