<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="navbar-home">
      <%= image_tag "https://res.cloudinary.com/df0stqosw/image/upload/v1614869201/Alfred/alfred_x4bvyv.png", class: "avatar" %>
      <h3>ALFRED</h3>
    </div>
  <% end %>
</div>