.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#card-title {
    color: white;
    text-decoration: none;
}

.card-show {
    max-width: 800px;
    margin-top: 40px;
}

.card-show-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.card-show-title {
    font-size: 48px;
    text-align: center;
}

.card-show-dose {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.fa-minus-circle {
    color: white;
}